<div>
  <mat-card-header>
    <mat-card-title>Comprador</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form id="contactForm" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <input matInput [hidden]="true" placeholder="id" class="form-control" value="{{data.id}}}" name="id">
      <mat-form-field>
        <input matInput placeholder="Nombre" class="form-control" formControlName="firstname" name="firstname">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Apellido" class="form-control" formControlName="lastname" name="lastname">
      </mat-form-field>
      <br>
      <mat-form-field>
        <input matInput placeholder="Email" class="form-control" formControlName="email" name="email">
      </mat-form-field>

      <br>
      <button id="btnSubmit" mat-raised-button type="submit" color="primary">Enviar</button>
    </form>
  </mat-card-content>
</div>
