<div>
  <mat-card-header>
    <mat-card-title>Reservacion</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form id="contactForm" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <input matInput [hidden]="true" placeholder="id" class="form-control" value="{{data.id}}}" name="id">
      <mat-form-field appearance="fill">
        <mat-select formControlName="ballot_id" [(value)]="selectBallot.id">
          <mat-option value="0">Seleccione...</mat-option>
          <mat-option *ngFor="let ballot of ballots" [value]="ballot.id">
            {{ballot.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-select formControlName="buyer_id" [(value)]="selectBuyer.id">
          <mat-option value="0">Seleccione...</mat-option>
          <mat-option *ngFor="let buyer of buyers" [value]="buyer.id">
            {{buyer.firstname}} - {{buyer.lastname}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <input matInput placeholder="amount" class="form-control" formControlName="amount" name="amount">
      </mat-form-field>
      <br>
      <button id="btnSubmit" mat-raised-button type="submit" color="primary">Submit</button>
    </form>
  </mat-card-content>
</div>
