<div>
  <mat-card-header>
    <mat-card-title>Boleta</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form id="contactForm" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <input matInput [hidden]="true" placeholder="id" class="form-control" value="{{data.id}}}" name="id">
      <mat-form-field appearance="fill">
        <input matInput placeholder="Nombre" class="form-control" formControlName="name" name="name">
      </mat-form-field>

      <br>
      <mat-form-field appearance="fill">
        <mat-label>Fecha expiracion</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date_expiration" >
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <input matInput placeholder="Cantidad" class="form-control" formControlName="amount" name="amount">
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <input matInput placeholder="Disponible" class="form-control" formControlName="available" name="available">
      </mat-form-field>
      <br>
      <button id="btnSubmit" mat-raised-button type="submit" color="primary">Enviar</button>
    </form>
  </mat-card-content>
</div>
