<div class="component">
  <table mat-table [dataSource]="reservations">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id</th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="ballot_id">
      <th mat-header-cell *matHeaderCellDef> Ballot</th>
      <td mat-cell *matCellDef="let element"> {{element.ballot.name}} </td>
    </ng-container>

    <ng-container matColumnDef="buyer_id">
      <th mat-header-cell *matHeaderCellDef> Buyer</th>
      <td mat-cell *matCellDef="let element"> {{element.buyer.firstname}} {{element.buyer.lastname}} </td>
    </ng-container>
    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> Amount</th>
      <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
    </ng-container>
    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef> Actions</th>
      <td mat-cell *matCellDef="let element">
        <button mat-fab class="action_icons" (click)="onEdit(element)" color="primary">
          <mat-icon>edit</mat-icon>
        </button>
        <button class="action_icons" mat-fab color="primary" aria-label="Example icon button with a delete icon">
          <mat-icon (click)="onDelete(element)">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <button mat-fab color="primary" class="add_buyer" (click)="changeDialog()"
          aria-label="Example icon button with a delete icon">
    <mat-icon>add</mat-icon>
  </button>

</div>
