<div>
  <mat-card-header>
    <mat-card-title>Eliminar</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    Desea eliminar el recurso?
    <div mat-dialog-actions>
      <button mat-button (click)="onDelete()">Ok</button>
    </div>
  </mat-card-content>
</div>
